deb http://nginx.org/packages/{{ ansible_distribution }}/ {{ ansible_distribution_release }} nginx
deb-src http://nginx.org/packages/{{ ansible_distribution }}/ {{ ansible_distribution_release }} nginx