deb http://nginx.org/packages/{{ ansible_facts.ansible_distribution }}/ {{ ansible_facts.ansible_distribution_release }} nginx
deb-src http://nginx.org/packages/{{ ansible_facts.ansible_distribution }}/ {{ ansible_facts.ansible_distribution_release }} nginx